
* {
    background-color: black;
}

.search {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

div, p, html {
    background-image: url(../../image/background.png);
    background-size: 70% 180%;
    background-repeat:no-repeat ;
    background-position: center;
}

.app{
    text-align: center; 
}
.img {
    justify-content: center;
    margin-right: 50px;
    margin-top: 50px;
    margin-left: 50px;
    padding-bottom: 65px;
    flex-direction: row-reverse;
    height: 100%;
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    display: inline;
    background-color: green;
}

.img2 {
    justify-content: center;
    margin-right: 50px;
    margin-top: 50px;
    margin-left: 50px;
    padding-bottom: 65px;
    flex-direction: row-reverse;
    height: 100%;
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    display: inline;
    background-color: green;
}
