.text {
    background: none;
    color: white;
    position: absolute;
  top: 58%;
  left: 50%;
  margin-left: -375px;
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 10rem;
}

.text2 {
    background: none;
    color: white;
    position: absolute;
  top: 58%;
  left: 50%;
  margin-left: 225px;
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 10rem;
}

.text3 {
    background: none;
    color: white;
    position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -72px;
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  line-height: -50px;
}

.text4 {
    background: none;
    color: white;
    position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -375px;
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  line-height: -50px;
}

.text5 {
    background: none;
    color: white;
    position: absolute;
  top: 30%;
  left: 50%;
  margin-left: 225px;
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  line-height: -50px;
}

.text6 {
    background: none;
    color: white;
    position: absolute;
  top: 58%;
  left: 50%;
  margin-left: -72px;
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 10rem;
}


